@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");


@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", Arial, sans-serif;
  --font-serif: "Playfair Display", Georgia, serif;
}

@theme {
  --color-blue-50: #f0f9ff;
  --color-blue-100: #e0f2fe;
  --color-blue-200: #bae6fd;
  --color-blue-300: #7dd3fc;
  --color-blue-400: #38bdf8;
  --color-blue-500: #0ea5e9;
  --color-blue-600: #0284c7;
  --color-blue-700: #0369a1;
  --color-blue-800: #075985;
  --color-blue-900: #0c4a6e;

  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf1;
  --color-teal-200: #99f6e4;
  --color-teal-300: #5eead4;
  --color-teal-400: #2dd4bf;
  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;
  --color-teal-700: #0f766e;
  --color-teal-800: #115e59;
  --color-teal-900: #134e4a;

  --color-coral-50: #fff5f5;
  --color-coral-100: #ffe0e0;
  --color-coral-200: #ffc5c5;
  --color-coral-300: #ff9999;
  --color-coral-400: #ff6666;
  --color-coral-500: #ff3333;
  --color-coral-600: #e61919;
  --color-coral-700: #b30000;
  --color-coral-800: #990000;
  --color-coral-900: #7a0000;
}

.btn {
    @apply cursor-pointer;
  }